
.list-group-item {
	min-height: 80px;
	text-align: center;
	display:inline-block;
	background-color: rgb(249, 250, 252);
	
	 display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.list-group-item:hover,
.list-group-item:focus,
.list-group-item:active {
    transform: scale(1.05);
}
